[Desktop Entry]
Encoding=UTF-8
Type=Service
ServiceTypes=KPeople/DataSource
X-KDE-Library=KPeopleVCard
X-KDE-PluginInfo-Author=Aleix Pol Gonzalez
X-KDE-PluginInfo-Email=aleixpol@blue-systems.com
X-KDE-PluginInfo-Name=IMProvider
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
